body {
    background-color: black;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
}

a {
    text-decoration: none;
    color: white;
}

.homepage {
    color: white;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


/* 一開始 */

.choose {
    width: 15em;
    margin: auto;
    border-color: white;
    border: 3px solid;
    font-size: 1.55em;
    text-align: center;
    cursor: pointer;
}

.choose:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.Title {
    font-size: 12em;
    margin: 0em;
}

.character {
    z-index: -2;
    top: 35.55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.dialog_box {
    background-color: black;
    border-color: white;
    border: 3px solid;
    /* font-size: 45px;
    height: 323px;
    width: 99%;
    top: 67%;
    position: absolute;
    cursor: pointer; */
    font-size: 3em;
    height: 32%;
    width: 99.5%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}

.dialog_box1 {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white;
    border: 3px solid;
    font-size: 3em;
    height: 32%;
    width: 99.5%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.name_box {
    background-color: black;
    border-color: white;
    border: 3px solid;
    z-index: -1;
    top: 60%;
    position: absolute;
    font-size: 3em;
    height: 7%;
    width: 17%;
    bottom: 0px;
    position: absolute;
    left: 0.23%;
}

.name_box1 {
    background-color: black;
    border-color: white;
    border: 3px solid;
    z-index: -1;
    top: 60%;
    position: absolute;
    font-size: 3em;
    height: 7%;
    width: 15%;
    bottom: 0px;
    position: absolute;
    left: 0.23%;
}

.bag {
    z-index: 1;
    margin-left: 94%;
    cursor: pointer;
}

.bag:hover {
    transform: scale(1.2);
}

.return {
    z-index: -1;
    margin-left: 90%;
    float: none;
    margin-top: -5%;
    cursor: pointer;
}

.return:hover {
    transform: scale(1.2);
}

.envelope {
    z-index: -2;
    /* left: 30%;
    top: 15%;
    cursor: pointer;
    position: absolute; */
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.envelope:hover {
    transform: scale(1.2)translate(-40%, -40%);
    position: absolute;
}

.bag_title {
    font-size: 80px;
    margin: 0px;
    text-align: center;
    z-index: 1;
    float: none;
}

.display {
    display: none;
}

.previous {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 25%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.previous:hover {
    transform: scale(1.2)translate(-40%, -40%);
    ;
}

.next {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 75%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.next:hover {
    transform: scale(1.2)translate(-40%, -40%);
    ;
}

.image {
    width: 70%;
    left: 15%;
    position: absolute;
}

.container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    align-content: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.table {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid;
    border-color: rgb(255, 255, 255);
    height: 90px;
    width: 750px;
    font-size: 4em;
    cursor: pointer;
    margin: 0 auto;
    display: none;
}

.table:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(172, 222, 255);
    transform: scale(1.1);
    cursor: pointer;
}