body {
    background-color: black;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
}

.homepage {
    color: white;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title1 {
    font-size: 75px;
    text-align: center;
}

.player1 {
    text-align: center;
    width: 185px;
    border-color: white;
    border: 3px solid;
    font-size: 45px;
    left: 50%;
    top: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player2 {
    text-align: center;
    width: 185px;
    border-color: white;
    border: 3px solid;
    font-size: 45px;
    left: 50%;
    top: 43%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player3 {
    text-align: center;
    width: 185px;
    border-color: white;
    border: 3px solid;
    font-size: 45px;
    left: 50%;
    top: 61%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player4 {
    text-align: center;
    width: 185px;
    border-color: white;
    border: 3px solid;
    font-size: 45px;
    left: 50%;
    top: 79%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player1:hover {
    color: rgb(255, 166, 0);
    cursor: pointer;
}

.player2:hover {
    color: rgb(255, 166, 0);
    cursor: pointer;
}

.player3:hover {
    color: rgb(255, 166, 0);
    cursor: pointer;
}

.player4:hover {
    color: rgb(255, 166, 0);
    cursor: pointer;
}

.pokemon1 {
    user-select: none;
    left: 63%;
    top: 16%;
    position: absolute;
}

.pokemon2 {
    left: 23%;
    top: 30%;
    position: absolute;
}

.pokemon3 {
    left: 63%;
    top: 49%;
    position: absolute;
}

.pokemon4 {
    left: 23%;
    top: 68%;
    position: absolute;
}

a {
    text-decoration: none;
    color: white;
}

.change_page {
    left: 80%;
    top: 90%;
    position: absolute;
    cursor: pointer;
    transition: all .3s linear;
}

.change_page:hover {
    transform: scale(1.2);
}