body {
    background-color: black;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
}

.homepage {
    color: white;
    margin: auto;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.character {
    z-index: -2;
}

.dialog_box {
    background-color: black;
    border-color: white;
    border: 3px solid;
    font-size: 3em;
    height: 32%;
    width: 99.5%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}